@{
    ViewBag.Title = "Sửa Loại Phòng";
    Layout = "~/Views/SharedAdmin/_Layout.cshtml";
}

@using QuanLyKhachSan.Models.Entities
@model LoaiPhong

<script>
    var element = document.getElementById("collapse2");
    element.classList.add("in");
</script>

<h2 style="text-align:center">Sửa Loại Phòng</h2>

<div class="container admin-sua-thong-tin">
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Mã Loại:</label>
            <input class="form-control dang-nhap-text" type="text" name="MaLoai" value="@Model.MaLoai" readonly />
        </div>
        <div class="form-group">
            <label>Tên Loại:</label>
            <input class="form-control dang-nhap-text" type="text" name="TenLoai" value="@Model.TenLoai" />
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.TenLoai)</span>
        </div>
        <div class="form-group">
            <label>Ghi Chú:</label>
            <textarea class="form-control dang-nhap-text" style="height: 100px" name="GhiChu">@Model.GhiChu</textarea>
            <span class="canh-bao">@Html.ValidationMessageFor(m => m.GhiChu)</span>
        </div>
        <div class="form-group">
            <label>Đường Dẫn Ảnh:</label>
            <input class="form-control dang-nhap-text" type="text" id="DuongDanAnh" name="DuongDanAnh" value="@Model.DuongDanAnh" readonly />
            <input class="center" id="file" type="file" name="file" onchange="funcChonAnh()" />
        </div>
        <div class="form-group">
            <input class="btn btn-default" type="submit" value="Cập Nhật" />
        </div>
    </form>
</div>

<script>
    function funcChonAnh() {
        var duongDanAnh = document.getElementById('DuongDanAnh');
        var file = document.getElementById('file');
        var fileName = file.files[0].name;
        duongDanAnh.value = '/Content/images/' + fileName;
    }
</script>

